html {
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 1054px;
  background-color: lightcyan;
}

/*body{
  background-color: lightcyan;
}*/
.title{
  text-align: center;
}
.heading{
  margin-top: 5px;
}
.pantry-1, .pantry-2, .pantry-3, .pantry-4, .pantry-5{
    display: inline-block;
    width:25%;
}

.inventory{
  margin: 5px 5px 5px 5px;
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(248,248,248);
}

.titleBar{
  background-color: rgb(248,248,248);
}

.listText{
  text-align: center;
}

.pTag{
  margin-top: -10px;
}
.toBuy{
  border: 1px solid black;
  border-radius: 3px;
  height: 200px;
  margin: 5px 0 10px 0;
}

.toBuyItems{
  list-style: none;
  padding-left: 20px;
  font-size: medium;
}

.deleteButton{
  margin-left: 10px;
}

.addButton{
  margin-top: 10px;
}

.results{
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 3px 3px 3px 3px;
}

.pic{
  width: 300px;
  height: 200px;
}

.recipeName{
  text-align: center;
}

.recipeLink{
  text-align: center;
  display: block;
}

.buttonDiv{
  top: 330px;
  text-align: center;
}

.submitButton, .popButton{
  margin-top: 80px;
}
.submitButton{
  margin-right: 8px;
}

.popButton{
  margin-right: 5px;
}

.favorite{
  font-size: 30px;
  appearance: none;
  outline: none;
  border: 0;
  background: transparent;
  color: slategray;
}

.favorite:focus{
  color: darkorange;
}

#myProgress {
    position: relative;
    width: 807px;
    height: 10px;
    background-color: rgb(248,248,248);
    margin-left: 5px;
    border: 1px solid black;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: darkorange;
}

.icon{
  color: darkorange;
}

.center{
  margin: auto;
  width: 90%;
}
