h1{
  color: blue;
}

.pantry-1, .pantry-2, .pantry-3, .pantry-4, .pantry-5{
    display: inline-block;
    width:30%;
}

.inventory{
  margin: 5px 5px 5px 5px;
  border: 1px solid black;

}

.listText{
  text-align: center;
}

.toBuy{
  border: 1px solid black;
  height: 200px;
  margin: 5px 0 10px 0;
}

.toBuyItems{
  list-style: none;
  padding-left: 20px;
  font-size: medium;
}

.submitContainer{
  position: absolute;
  right: 30px;
  bottom: 125px;
}

.addButton{
  margin-top: 10px;
}

.results{
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin: 3px 3px 3px 3px;
}

.pic{
  width: 300px;
  height: 200px;
}

.recipeName{
  text-align: center;
}

.recipeLink{
  text-align: center;
  display: block;
}

.buttonDiv{
  top: 330px;
  text-align: center;
}

.submitButton{
  margin-bottom: 10px;
}
