<h3>FAVORITES PAGE</h3>

<div class="center">

  <div class="favoritesListing" ng-show="value">
    <div class="results" ng-repeat="favorite in favorites">
      <img class="img-responsive pic" ng-src="{{favorite.image}}" />
      <h5 class="recipeName">{{favorite.label}}</h5>
      <a class="recipeLink" href="{{favorite.url}}" target="_blank">{{favorite.source}}</a><br>
      <div class="buttonDiv">
        <button class="btn btn-default btn-sm resultButton" type="button" ng-click="open(favorite)">More Info</button>
      </div>
    </div>
  </div>
  <div class="noResultsFound" ng-show="!value">
    <h1 class="noResultsMsg">No Results.</h1>
  </div>

</div>
