<div class="modal-header">
  <h3 class="modal-title" id="modal-title">More Info</h3>
</div>

<div ng-repeat="recipe in favorites" ng-init="value = detailInfo">
  <h3 class="modal-title" id="modal-title" ng-if="recipe.id == value">{{recipe.label}}</h3>
  <p ng-repeat="item in recipe.ingredients" ng-if="recipe.id == detailInfo">
    <input type="checkbox" checklist-model="toBuy" checklist-value="item">{{item}}
  </p>
</div>

<div>
  <h3>To Buy:</h3>
  <div ng-repeat="items in toBuy"><h5>{{items}}</h5></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
