
<div class="row mainContent">
  <div id="myProgress">
    <div id="myBar"></div>
  </div>

  <div class="inventoryContainer col-md-7">
    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-tint icon" aria-hidden="true"></span> Dairy</h3>
      <label class="pantry-1" ng-repeat="ingredient in pantry | filter: {category: 'dairy'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>

    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-grain icon" aria-hidden="true"></span> Grains</h3>
      <label class="pantry-2" ng-repeat="ingredient in pantry | filter: {category: 'grains'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-apple icon" aria-hidden="true"></span> Produce</h3>
      <label class="pantry-3" ng-repeat="ingredient in pantry | filter: {category: 'produce'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-piggy-bank icon" aria-hidden="true"></span> Proteins</h3>
      <label class="pantry-4" ng-repeat="ingredient in pantry | filter: {category: 'protein'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-glass icon" aria-hidden="true"></span> Other</h3>
      <label class="pantry-5" ng-repeat="ingredient in pantry | filter: {category: 'other'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="ingredientsContainer col-md-4">

    <div class="toBuy">
      <h3 class="listText">Ingredients List:</h3>
      <p class="listText pTag">Don't get ahead of yourself...max is 5.</p>
      <div class="accentLine"></div>
        <div ng-repeat="stuff in selectedIngredients">
          <li class="toBuyItems"><strong>{{stuff | unconcat}}</strong></li>
        </div>
    </div>
    <div class="btn-group pull-right" role="group">
        <button type="button" class="popButton pull-right" ng-click="removeLast()">Undo</button>
        <button type="button" class="submitButton pull-right" ng-click="getIngredients()">Submit</button>
    </div>

    <div class="newItems">
      <h3>New Fooooods:</h3>
      <form id="addNew" style="padding: 15px;">
        <autocomplete options="datas"
                place-holder="What did you buy...?"
                on-select="onSelect"
                display-property="item"
                input-class="form-control input"
                clear-input="false"></autocomplete>
                <a class="btn btn-default btn-block addButton" ng-click="addIngredients()">Add</a>
      </form>
    </div>

    <div class="removeItem">
      <h3>Used Fooooods:</h3>
      <form id="remove" style="padding: 15px;">
        <autocomplete options="datas"
                place-holder="What did you eat...?"
                on-select="onSelect"
                display-property="item"
                input-class="form-control input"
                clear-input="false"></autocomplete>
                <a class="btn btn-default btn-block addButton" ng-click="removeIngredients()">He Gone</a>
      </form>

    </div>

  </div>

</div>
