<h3>home view</h3>

<div id="myProgress">
  <div id="myBar"></div>
</div>

<div class="row">
  <div class="inventoryContainer col-md-7">
    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-tint icon" aria-hidden="true"></span> Dairy</h3>
      <label class="pantry-1" ng-repeat="ingredient in pantry | filter: {category: 'dairy'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>

    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-grain icon" aria-hidden="true"></span> Grains</h3>
      <label class="pantry-2" ng-repeat="ingredient in pantry | filter: {category: 'grains'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-apple icon" aria-hidden="true"></span> Produce</h3>
      <label class="pantry-3" ng-repeat="ingredient in pantry | filter: {category: 'produce'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-piggy-bank icon" aria-hidden="true"></span> Proteins</h3>
      <label class="pantry-4" ng-repeat="ingredient in pantry | filter: {category: 'protein'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>

    <div class="inventory">
      <h3 class="heading"><span class="glyphicon glyphicon-glass icon" aria-hidden="true"></span> Other</h3>
      <label class="pantry-5" ng-repeat="ingredient in pantry | filter: {category: 'other'}">
        <input type="checkbox" checklist-model="selectedIngredients" checklist-value="ingredient.item | concat" ng-disabled="selectedIngredients.length > 4">  {{ingredient.item}}
      </label>
    </div>
  </div>

  <div class="ingredientsContainer col-md-4">

    <div class="toBuy">
      <h3 class="listText">Ingredients List:</h3>
      <p class="listText pTag">Don't get ahead of yourself...max is 5.</p>
      <div class="row">
        <div class="col-md-6">
          <div ng-repeat="stuff in selectedIngredients">
            <li class="toBuyItems">{{stuff | unconcat}}</li>
          </div>
        </div>
        <div class="col-md-6 btn-group" role="group">
            <button type="button" class="btn btn-default popButton pull-right" ng-click="removeLast()">Undo</button>
            <button type="button" class="btn btn-default submitButton pull-right" ng-click="getIngredients()">Submit</button>
        </div>
      </div>

    </div>

    <div class="newItems">
      <h3>New Fooooods:</h3>
      <form id="addNew" style="padding: 15px;">
        <autocomplete  options="datas"
                place-holder="What did you buy...?"
                on-select="onSelect"
                display-property="item"
                input-class="form-control"
                clear-input="false"></autocomplete>
                <a class="btn btn-default btn-block addButton" ng-click="addIngredients()">Add</a>
      </form>
    </div>

    <div class="removeItem">
      <h3>Used Fooooods:</h3>
      <form id="remove" style="padding: 15px;">
        <autocomplete  options="datas"
                place-holder="What did you eat...?"
                on-select="onSelect"
                display-property="item"
                input-class="form-control"
                clear-input="false"></autocomplete>
                <a class="btn btn-default btn-block addButton" ng-click="removeIngredients()">He Gone.</a>
      </form>

      <!-- <form id="remove">
        <input type="text" ng-model="removedItem" class="input-sm"/ ><a class="btn btn-default deleteButton" ng-click="removeIngredients(removedItem)">Remove</a>
      </form> -->
    </div>

  </div>

</div>
